html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100dvh; /* Use dynamic viewport height to account for address bar */
    background-color: black;
}

#game-container {    
    width: 100%;
    height: 100dvh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}